<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hasil Rekomendasi</title>
</head>
<body>
    <ul>
    {% for res in result %}
        <li>{{ res }}</li>
    {% endfor %}
    </ul>
</html>